<h3>{{ 'forms.patdata.title.contact'|_ }}</h3>


<div class="row py-2">
    <div class="col-12 col-md-6">
        <label for="streetno">{{ 'forms.patdata.label.street_no'|_ }}</label>
        <input type="text" 
                id="streetno" 
                name="streetno" 
                class="form-control"
                maxlength="40"
                pattern="[A-Z][a-zA-Z0-9'\x7f-\xff\s\-\.]{2,40}" 
                title="{{ 'forms.patdata.validation-2-40-streetno' |_ }}"
                />
        <div class="message">
            {{ 'forms.patdata.validation-2-40-streetno' |_ }}
        </div>
        
    </div>
    <div class="col-12 col-md-6 pt-3 pt-md-0">
        <label for="zip">{{ 'forms.patdata.label.zip'|_ }}</label>
        <input type="text" 
        id="zip" 
        name="zip" 
        class="form-control"
        maxlength="5"
        pattern="[0-9]{4,5}"
        inputmode="numeric"
        />
    <div class="message">
        {{ 'forms.patdata.validation-4-5-zip' |_ }}
    </div>
    </div>
</div>

<div class="row py-2">
    <div class="col-12 col-md-6">
        <label for="city">{{ 'forms.patdata.label.city'|_ }}</label>
        <input type="text" 
               id="city" 
               name="city" 
               class="form-control" 
               maxlength="40"
               pattern="[A-Z][a-zA-Z0-9'\x7f-\xff\s\-\.]{2,40}" 
               title="{{ 'forms.patdata.validation-2-40-streetno' |_ }}"
        >
        <div class="message">
            {{ 'forms.patdata.validation-2-40-streetno' |_ }}
        </div>   
    </div>
    <div class="col-12 col-md-6 pt-3 pt-md-0">
        {% partial 'patdata/countries' %}
    </div>
</div>

<div class="row py-2">
    <div class="col-12 col-md-6">
        <label for="phone">{{ 'forms.patdata.label.phone'|_ }}</label>
        <input type="text" 
                id="phone" 
                name="phone" 
                class="form-control"
                maxlength="15"
                pattern="[0-9+\s\-]{0,15}"
                title="{{ 'forms.patdata.validation-phone' |_ }}"
                inputmode="tel">
        <div class="message">
            {{ 'forms.patdata.validation-phone' |_ }}
        </div> 
        
    </div>
    <div class="col-12 col-md-6 pt-3 pt-md-0">
        <label for="email">{{ 'forms.patdata.label.email'|_ }}</label>
        <input type="email" 
               id="email" 
               name="email" 
               class="form-control"
               maxlength="30"
               title="{{ 'forms.patdata.validation-email' |_ }}"
        >
        <div class="message">
            {{ 'forms.patdata.validation-email' |_ }}
        </div> 
    </div>
</div>

<h5 class="pt-3 pb-2">{{ 'forms.patdata.subtitle.wish' |_ }}</h4>
    <div id="options" class="col-12">
        <div class="">{{ 'forms.patdata.label.reports'|_ }}</div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="reports" id="reports1" value="Bericht per Mail" checked>
            <label class="form-check-label" for="reports1">{{ 'forms.patdata.yes' |_ }}</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="reports" id="reports2" value="kein Bericht">
            <label class="form-check-label" for="reports2">{{ 'forms.patdata.no' |_ }}</label>
        </div>

        <div class="">{{ 'forms.patdata.label.encrypted'|_ }}</div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="encrypted" id="encrypted1" value="verschlüsselt" checked>
            <label class="form-check-label" for="encrypted1">{{ 'forms.patdata.yes' |_ }}</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="encrypted" id="encrypted2" value="unverschlüsselt">
            <label class="form-check-label" for="encrypted2">{{ 'forms.patdata.no' |_ }}</label>
        </div>

        <div class="">{{ 'forms.patdata.label.confirmation'|_ }}</div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="confirmation" id="confirmation1" value="ja" checked>
            <label class="form-check-label" for="confirmation1">{{ 'forms.patdata.yes' |_ }}</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="confirmation" id="confirmation2" value="nein">
            <label class="form-check-label" for="confirmation2">{{ 'forms.patdata.no' |_ }}</label>
        </div>
    </div>

    <style>
        #options {
            display: grid;
            gap: 1rem 0;
            grid-template-columns: 4fr 1fr 1fr;
            justify-items: start;
        }
    </style>