<ul class="nav nav-tabs" id="FormsTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="patient-tab" data-bs-toggle="tab" data-bs-target="#patient" type="button"
            role="tab" aria-controls="patient" aria-selected="true" tooltip="{{'forms.patdata.tooltip-1' |_ }}">
            1 {% partial 'html_body/svg-icons/arrow-circle-right' %}
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
            role="tab" aria-controls="contact" aria-selected="false" tooltip="{{'forms.patdata.tooltip-2' |_ }}">
            2 {% partial 'html_body/svg-icons/arrow-circle-right' %}
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="contacts-tab" data-bs-toggle="tab" data-bs-target="#contacts" type="button"
            role="tab" aria-controls="contacts" aria-selected="false" tooltip="{{'forms.patdata.tooltip-3' |_ }}">
            3 {% partial 'html_body/svg-icons/arrow-circle-right' %}
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="ass-tab" data-bs-toggle="tab" data-bs-target="#ass" type="button" role="tab"
            aria-controls="ass" aria-selected="false" tooltip="{{'forms.patdata.tooltip-4' |_ }}">
            4 {% partial 'html_body/svg-icons/arrow-circle-right' %}
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="doctors-tab" data-bs-toggle="tab" data-bs-target="#doctors" type="button"
            role="tab" aria-controls="doctors" aria-selected="false" tooltip="{{'forms.patdata.tooltip-5' |_ }}">
            5 {% partial 'html_body/svg-icons/arrow-circle-right' %}
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="drugs-tab" data-bs-toggle="tab" data-bs-target="#drugs" type="button" role="tab"
            aria-controls="drugs" aria-selected="false" tooltip="{{'forms.patdata.tooltip-6' |_ }}">
            6 {% partial 'html_body/svg-icons/arrow-circle-right' %}
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="allergies-tab" data-bs-toggle="tab" data-bs-target="#allergies" type="button"
            role="tab" aria-controls="allergies" aria-selected="false" tooltip="{{'forms.patdata.tooltip-7' |_ }}">
            7 {% partial 'html_body/svg-icons/arrow-circle-right' %}
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="consent-tab" data-bs-toggle="tab" data-bs-target="#consent" type="button"
            role="tab" aria-controls="consent" aria-selected="false" tooltip="{{'forms.patdata.tooltip-8' |_ }}">
            8 {% partial 'html_body/svg-icons/check-circle' %}
        </button>
    </li>
</ul>

{# tooltip css: https://medium.com/free-code-camp/a-step-by-step-guide-to-making-pure-css-tooltips-3d5a3e237346 #}

<style>
    .tt-container {
        /*margin: auto;
        margin-top: 40px;
        width: 600px;*/
    }

    button {
        /*
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 4px;
        padding: 8px 12px;
        color: #45c8db;*/
    }

    button:hover {
        /*box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .2), 0 0 0 1px rgba(0, 0, 0, .08);*/
    }

    [tooltip] {
        /*margin: 20px 60px;*/
        position: relative;
        /*display: inline-block;*/
    }

    [tooltip]::before {
        content: "";
        position: absolute;
        top: -6px;
        left: 50%;
        transform: translateX(-50%);
        border-width: 4px 6px 0 6px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
        z-index: 99;
        opacity: 0;
    }

    /*[tooltip-position='left']::before {
        left: 0%;
        top: 50%;
        margin-left: -12px;
        transform: translatey(-50%) rotate(-90deg)
    }

    [tooltip-position='top']::before {
        left: 50%;
    }

    [tooltip-position='buttom']::before {
        top: 100%;
        margin-top: 8px;
        transform: translateX(-50%) translatey(-100%) rotate(-180deg)
    }

    [tooltip-position='right']::before {
        left: 100%;
        top: 50%;
        margin-left: 1px;
        transform: translatey(-50%) rotate(90deg)
    }*/

    [tooltip]::after {
        content: attr(tooltip);
        position: absolute;
        left: 50%;
        top: -6px;
        transform: translateX(-50%) translateY(-100%);
        background: rgba(0, 0, 0, 0.7);
        text-align: center;
        color: #fff;
        padding: 4px 2px;
        font-size: 12px;
        min-width: 80px;
        border-radius: 5px;
        pointer-events: none;
        padding: 4px 4px;
        z-index: 99;
        opacity: 0;
    }

    /*[tooltip-position='left']::after {
        left: 0%;
        top: 50%;
        margin-left: -8px;
        transform: translateX(-100%) translateY(-50%);
    }

    [tooltip-position='top']::after {
        left: 50%;
    }

    [tooltip-position='buttom']::after {
        top: 100%;
        margin-top: 8px;
        transform: translateX(-50%) translateY(0%);
    }

    [tooltip-position='right']::after {
        left: 100%;
        top: 50%;
        margin-left: 8px;
        transform: translateX(0%) translateY(-50%);
    }*/

    [tooltip]:hover::after,
    [tooltip]:hover::before {
        opacity: 1
    }

    /*.input {
        
        margin-left: 135px 
    }*/
</style>