{% set orgameta = orgaMeta.meta %}

<div id="contactbox" class="pt-1 px-0 rounded d-print-none">
    <div class="px-2">
      <a href="tel:{{ orgameta.schema_phone }}"
       class="text-white"
       title="{{ orgameta.schema_phone }}">
      {{ orgameta.schema_phone }}
      </a><br>
    </div>
    <div id="links" class="px-2">
      <a href="{{ 'herzzentrum-anreise-neu.htm' | staticPage }}" class="text-white">{{ 'contactbox.url.label'|_ }}</a> <span class="text-white">|</span>
      <script>
        user = '{{ 'contactbox.mail.name'|_ }}';
        site = '{{ 'contactbox.mail.domain'|_ }}';
        document.write('<a href=\"mailto:' + user + '@' + site + '\" class=\"text-white\" data-bs-toggle=\"tooltip\" data-placement=\"top\" title=\"{{ 'contactbox.mail.tooltip'|_ }}\">{{ 'contactbox.mail.label'|_ }}</a>');
      </script>
      <span class="text-white">|</span>
      <a href="{{ 'patienteninformation-faqs.htm' | staticPage }}" title="FAQ" class="text-white">
        FAQ
      </a>
    </div>
    <div id="booking" class="">
      <a href="{{ 'online-buchung.htm' | staticPage }}" class="text-white" title="{{ 'contactbox.booking.label'|_ }}">
        {{ 'contactbox.booking.label'|_ }}
      </a>
    </div>
</div>
