description = "Default"

[staticPage]
useContent = 1
default = 0

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "suchresultate.htm"

[cookiesBar]

[localePicker]
forceUrl = 1

[seoTags]

[orgaMeta]

[alternateHrefLangElements]

[viewBag]
localeBlogbase[de] = "kardiologie"
localeBlogbase[en] = "cardiology"
localeTagpagebase[de] = "stichwort"
localeTagpagebase[en] = "tag"
localeCategorypagebase[de] = "thema"
localeCategorypagebase[en] = "topic"
localeTeambase[en] = "team"
localeTeambase[de] = "team"
==
{# begin head and all meta tags #}
  {% component 'seoTags' %}
{# end head #}
<body class="page-{{ this.page.id }} layout-{{ this.page.layout }}">

      <div class="container px-0 mx-0 mw-100">

        <header class="row">
            {% partial 'html_body/header' %}
        </header>

        <main class="row d-flex justify-content-center">
          <div class="col-12 col-l2-8 pr-0 content-container">

            {% page %}
          </div>
        </main>

        <footer class="col-12">
          {#
          <section class="social row d-flex justify-content-center grey py-3">
            <div class="col-11 col-lg-10">
              {% partial 'html_body/socialnav' %}
            </div>
          </section>
          <section class="deeplinks row d-flex justify-content-center">
              {% partial 'html_body/deeplinks' %}
          </section>
          #}
          <section class="contact fullwrap col-12">
              {% partial 'html_body/contact' %}
          </section>
          <section class="endlinks fullwrap col-12 text-center pt-4 pb-3 d-print-none">
              {% partial 'html_body/endlinks' %}
              {% partial 'html_body/byline' %}
          </section>
          {# partial 'html_body/print/footer' #}
        </footer>

      </div>

      {% partial 'html_body/contactbox' %}

      {% placeholder toasts ignore=true %}

      {% component 'cookiesBar' %}

      {# % scripts % #}

      {% partial "json/breadcrumb" %}
      {% placeholder json  ignore=true%}

      {% partial 'html_body/scripts' %}

    </body>
</html>
