description = "Schliesst einen ganzbreitigen Abschnitt wieder"

[viewBag]
snippetCode = "fullwrap-close"
snippetName = "Visuelle Hinterlegung beenden"
snippetProperties[bg][title] = "Hintergrund-Farbe"
snippetProperties[bg][type] = "dropdown"
snippetProperties[bg][options][1]= "Weiss"
snippetProperties[bg][options][2]= "Grau"
snippetProperties[bg][options][3]= "aufgehelles Türkis"
snippetProperties[bg][options][4]= "Türkis"
snippetProperties[bg][options][5]= "abgedunkeltes Türkis"
snippetProperties[bg][options][6]= "aufgehelltes Rot"

==

</div>
</div>
