.tagcloud {
  a {
    background: $if-primary-light;
    text-decoration:none;
  }
  a:hover, a:focus {
    background: $if-primary;
    color: $if-white;
  }
  .size-zero { display:none;}
  .size-sm {}
  .size-md {font-size: 20px;line-height: 20px;}
  .size-lg {font-size: 24px!important;}
}
