.flipcards {

  background: $if-primary-light;

  .flipcard {
    background-color: transparent;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect
  }

  /* This container is needed to position the front and back side */
  .flipcard-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flipcard:hover .flipcard-inner {
    transform: rotateY(180deg);
  }

  .flipcard-front, .flipcard-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    overflow: hidden;
  }

  .flipcard-front {
    border: 1px solid rgba(255,255,255,.2);
    color: $if-white;
  }

  .flipcard-back {
    background-color: $if-white;
    color: $if-dark;
    //width:100vw;
    transform: rotateY(180deg);
  }

  .svg-inline--fa {
    width: 60px;
    height: auto;
    backface-visibility: hidden;
  }
}
