// Variables
$white:    $if-white !default;
$black:    $if-black !default;

$primary:       $if-primary !default;
$secondary:     $if-secondary !default;
$success:       $if-success !default;
$info:          $if-info !default;
$warning:       $if-warning !default;
$danger:        $if-danger !default;
$light:         $if-light !default;
$dark:          $if-dark !default;

$font-size-base: $if-font-size-base;
